<html>
    <head>
        <title>Uiiiiiiiiiiiiii BEEEEBEEEEEE</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="cartao">
            <form action="/verificar" method="post">
            <h1>Login</h1>
            <label>cpf</label>
            <input type="text" name="cpf">
            <label>senha</label>
            <input type="password" name="senha">
            <button type="submit">Acessar</button>
            </form>
        </div>
   
    </body>
</html>